.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.contact {
  font-size: 2em;
  width: 10em;
  display: flex;
  justify-content: space-around;
}
.copyright {
  padding-left: 50em;
  font-size: 12px;
}
.icon {
  color: #2cdb38;
}
